<config>
    <modules>
        <TreC_SaveImage>
            <version>0.1.0</version>
        </TreC_SaveImage>
    </modules>
    <global>
        <models>
            <trec_saveimage>
                <class>TreC_SaveImage_Model</class>
            </trec_saveimage>
        </models>
        <events>
            <product_save>
                <observers>
                    <index>
                        <type>disabled</type>
                    </index>
                </observers>
            </product_save>
        </events>
    </global>
    <crontab>
        <jobs>
            <saveimage_apply_all>
                <schedule>
                    <!--<cron_expr>*/5,0-02 12 * * *</cron_expr>-->
                    <cron_expr>*/5 * * * *</cron_expr>
                    <!--<cron_expr>30 0 * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>trec_saveimage/observer::import</model>
                </run>
            </saveimage_apply_all>
        </jobs>
    </crontab>
</config>
