<?xml version="1.0" ?>

<config>

    <modules>
        <TreC_PopupWindow>
            <version>0.0.1</version>
        </TreC_PopupWindow>
    </modules>
    <global>
        <blocks>
            <trecpopupwindow>
                <class>TreC_PopupWindow_Block</class>
            </trecpopupwindow>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <trecpopupwindow>
                    <file>popupwindow.xml</file>
                </trecpopupwindow>
            </updates>
        </layout>
    </frontend>

</config>