<?xml version="1.0"?>
<config>
    <modules>
        <Intelivemetrics_Unityreports>
            <version>0.7.7</version>
        </Intelivemetrics_Unityreports>
    </modules>
    <global>
        <helpers>
            <unityreports>
                <class>Intelivemetrics_Unityreports_Helper</class>
            </unityreports>
        </helpers>
        <blocks>
            <unityreports>
                <class>Intelivemetrics_Unityreports_Block</class>
            </unityreports>
        </blocks>
        <models>
            <unityreports>
                <class>Intelivemetrics_Unityreports_Model</class>
                <resourceModel>unityreports_resource</resourceModel>
            </unityreports>
            <unityreports_resource>
                <class>Intelivemetrics_Unityreports_Model_Resource</class>
                <entities>
                    <abcarts>
                        <table>unityreports_abcarts_synced</table>
                    </abcarts>
                    <creditnotes>
                        <table>unityreports_creditnotes_synced</table>
                    </creditnotes>
                    <customers>
                        <table>unityreports_customers_synced</table>
                    </customers>
                    <customer_actions>
                        <table>unityreports_customer_actions</table>
                    </customer_actions>
                    <invoices>
                        <table>unityreports_invoices_synced</table>
                    </invoices>
                    <orders>
                        <table>unityreports_orders_synced</table>
                    </orders>
                    <products>
                        <table>unityreports_products_synced</table>
                    </products>
                    <campaigns>
                        <table>unityreports_campaigns</table>
                    </campaigns>
                    <settings>
                        <table>unityreports_settings</table>
                    </settings>
                    <product_counters>
                        <table>unityreports_product_counters</table>
                    </product_counters>
                </entities>
            </unityreports_resource>
        </models>
        <resources>
            <unityreports_setup>
                <setup>
                    <module>Intelivemetrics_Unityreports</module>
                    <class>Intelivemetrics_Unityreports_Model_Resource_Setup</class>
                </setup>
            </unityreports_setup>
        </resources>
        <events>
            <customer_login>
                <observers>
                    <unityreports_customer_login>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>customerTrack</method>
                    </unityreports_customer_login>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <unityreports_customer_register>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>customerAddCampaignInfo</method>
                    </unityreports_customer_register>
                </observers>
            </customer_save_after>
            <sales_order_place_after>
                <observers>
                    <unityreports_after_sale>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>orderAddCampaignInfo</method>
                    </unityreports_after_sale>
                </observers>
            </sales_order_place_after>
            <catalog_controller_product_view>
                <observers>
                    <unityreports_product_view>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>productUpdateViews</method>
                    </unityreports_product_view>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <unityreports_product_add_cart>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>productAddCart</method>
                    </unityreports_product_add_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    
    <adminhtml>
        <events>
            <sales_order_save_after>
                <observers>
                    <unityreports_order_save_after_admin>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>orderSaveAfterAdmin</method>
                    </unityreports_order_save_after_admin>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>    
    <crontab>
        <jobs>            
            <unityreports_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>unityreports/cron_sync::runSync</model>
                </run>
            </unityreports_sync>
            <unityreports_count>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>unityreports/cron_count::runSync</model>
                </run>
            </unityreports_count>
            <unityreports_globalcounter>
                <schedule>
                    <cron_expr>10 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>unityreports/cron_globalCounters::runSync</model>
                </run>
            </unityreports_globalcounter>
            <unityreports_stat>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>unityreports/cron_request::check</model>
                </run>
            </unityreports_stat>
        </jobs>
    </crontab>
    <default>
        <unityreports>
            <general>
                <status>0</status>
                <ws_endpoint>https://ws.unityreports.com/ws</ws_endpoint>
            </general>
            <advanced>
                <debug_status>0</debug_status>    
            </advanced>
        </unityreports>
    </default>
    <frontend>
        <routers>
            <unityreports>
                <use>standard</use>
                <args>
                    <module>Intelivemetrics_Unityreports</module>
                    <frontName>unityreports</frontName>
                </args>
            </unityreports>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <unityreports_customer_tracker>
                        <type>singleton</type>
                        <class>unityreports/observer</class>
                        <method>customerTrack</method>
                    </unityreports_customer_tracker>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>
        <layout>
            <updates>
                <Intelivemetrics_Unityreports>
                    <file>unityreports.xml</file>
                </Intelivemetrics_Unityreports>
            </updates>
        </layout>
    </frontend> 
</config> 