<?xml version="1.0"?>
<config>
    <modules>
        <TreC_RestrictGuest>
            <version>1.0.0</version>
        </TreC_RestrictGuest>
    </modules>
    <global>
    <models>
        <restrictquest>
            <class>TreC_RestrictGuest_Model</class>
        </restrictquest>
    </models>
            <events>
	        <controller_action_predispatch>
	            <observers>
	                <controller_action_before>
	                    <class>restrictquest/observer</class>
	                    <method>hookToControllerActionPreDispatch</method>
	                </controller_action_before>
	            </observers>
	        </controller_action_predispatch>
    	</events>
    </global>
    <adminhtml>
    	<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                            	<config>
                            		<children>
		                                <restrictguest>
		                                    <title>Guest User Restriction</title>
		                                </restrictguest>
		                    		</children>
		                    	</config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <restrictguest>
            <general>
                <enabled>1</enabled>
            </general>
            <restrictsections>
            	<enable_checkout_cart>1</enable_checkout_cart>
            	<enable_onestepcheckout_index>1</enable_onestepcheckout_index>
            	<enable_catalog_category>1</enable_catalog_category>
            	<enable_catalog_product>1</enable_catalog_product>
            	<enable_catalogsearch_result>1</enable_catalogsearch_result>
            	<enable_splashpro_page>1</enable_splashpro_page>
            </restrictsections>
        </restrictguest>
    </default>		
</config>